<!-- Gesamtansicht der Produktinformation -->
<!-- todo: View erstellen, die alle Prdodukte behinhaltet dieses HTML ist vorerst Platzhalter-->


<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-md-12">
            <h1>{{productName}}</h1>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <vendor-info-profile-pic></vendor-info-profile-pic>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <vendor-short-discription></vendor-short-discription>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <vendor-detailed-discription></vendor-detailed-discription>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <vendor-notes></vendor-notes>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <add-files></add-files>
        </div>
    </div>
    <div class="row-fluid">
        <div class="col-md-12">
            <vendor-sort-files></vendor-sort-files>
        </div>
    </div>
</div>
